<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrega un paciente</title>
    <link rel="stylesheet" href="static\css\home.css" />
</head>
<body>
      <!-- TOP BAR -->
  <header class="topbar">
    <div class="logo">NutriRecords Panel</div>
    <div class="search">
      <input type="text" placeholder="Buscar paciente..." />
    </div>
    <div class="top-icons">⚙️ 🔔 ⬇️</div>
  </header>
  <div>
    pacientes disponibles:{{user_name}}

  </div>
</body>
</html>